/* Default CSS*/

*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #202c44;
    --secondary-color:#506c94;
    --third-color: white;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body{
    overflow-x: hidden;
    font-weight: 400;
    background-color: var(--secondary-color) !important;
    color: white !important;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    line-height: normal;
}

section{
    margin-bottom: 8vw;
}

.navbar {
    padding: 10px 0;
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 50px;
    font-size: 100%;
    top: 0;
    transition: 0.5s ease-in-out;
    background: var(--main-color);
}

.btn-contact{
    padding: 10px;
    position: relative;
    background-color: var(--main-color);
    text-decoration: none;
    color: white;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    transition: 0.2s;
}

.btn-contact::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.me-auto{
    width: 30%;
    display: flex;
    justify-content: space-between;   
    margin-left: 60px;
}

.active{
    font-size: 100px;
}
.btn-contact:hover::before{
    transform: translateX(0);
}

.btn-contact:hover::before{
    content: "";
}

.btn-contact:hover{
    color: black;
}
.active {
    font-size: 100px;
}

a.navbar-link{
    color: white !important;
}

a.navbar-brand{
    font-weight: bolder;
    color: white;
}
a#basic-nav-dropdown{
    color: white;
}

span.navbar-toggler-icon{
    filter: invert(1);
}

button.navbar-toggler{
    border-color: grey;
}
a.navbar-brand img{
    width: 30px;
    height: 30px;
}

.navbar .scrolled{
    padding: 0;
    background-color: white;
}

.navbar-text {
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
}

.socials__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 90px;
}
  
.socials__button__media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100% 100%;
    transition: 0.2s ease;
    margin-left: 10px;
}

.socials__button__media svg{
    width: 30px;
}
    
.button__icon path {
    transition: 0.5s ease;
    fill: white;
    transition: .2s ease;
  
}
  

.socials__button__media{
    background-color: var(--secondary-color) ;
}

.socials__button__media:hover{
    transform: scale(1.1);
    background-color: var(--third-color);
}

.socials__button__media:hover path{
    fill: var(--main-color);
}

#email{
    margin-left: 0;
}

.wrap{
    margin-left: 15px;
}

#home p{
    margin-bottom: 7%;
} 

#home h3{
    margin-bottom: 5%;
}
.tagline{
    font-weight: 600;
    font-size: 1.1em;
}

.header{
    font-size: 4em;
    width: 100%;
    margin-bottom: 5%;
}



.subhead{
    font-size: 1.1em;
    text-align: justify;
}

@keyframes bob{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
}

.banner__image{
    width: 60%;
    height: 60%;
    transition: 1s;
    animation: 3s bob infinite;
}

.banner{
    background: linear-gradient(30deg, var(--secondary-color), var(--main-color));
    height: 100%;
    padding: 5%;
}

.learnmore {
    width: 30%;
    height: 45px;
    border-bottom: 4px solid black;
    display: inline-block;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .learnmore:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .learnmore:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .learnmore:hover {
    color: #ffffff;
    border: 1px solid var(--main-color);
  }
  
  .learnmore:hover:before {
    top: -35%;
    background-color: var(--main-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .learnmore:hover:after {
    top: -45%;
    background-color: var(--main-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
.slider{
    padding: 0 0 50px 0;
    position: relative;
}

.slider-bx{
    background: linear-gradient(30deg, var(--main-color)-60%, var(--secondary-color)40%, var(--secondary-color) 45%, var(--main-color) 160%);
    border-radius: 64px;
    height: 100%;
    text-align: center;
    padding: 60px 50px;
}

.slider h3{
    font-size: 1.5em;
    font-weight: 600;
}

.slider p{
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 15px 0 75px 0;
}

.slider-slider{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.slider-slider .item img{
    width: 180px;
    margin: 0 auto 15px auto;

}

.slider h2{
    font-size: 3em;
}

.blog{
    padding: 80px 0;
    position: relative;
    background: linear-gradient(20deg, var(--main-color), var(--secondary-color)) ;
}

.blog h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.blog p{
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.blog .nav.nav-pills{
    width: 72%;
    margin: 0 auto;
    background: transparent;
    border: solid 4px black;
    border-radius: 50px;
    overflow: hidden;
}

.blog .nav.nav-pills .nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.blog .nav.nav-pills .nav-item{
    width: 33.333333%;
}

.blog .nav.nav-pills .nav-link {
    background: transparent;
    border-radius: 0;
    padding: 17px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 100%;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.nav-item:hover{
    background: linear-gradient(180deg, var(--secondary-color), silver 300%);
}

.blog-image-bx{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 90%;
    height: 75%;
    border: black 5px solid;
    font-size: 0.5em;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

.blog-image-bx img{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}

.overlay{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, black -100%, transparent);
    font-size: 0.3em;
    align-content: flex-end;
}

.overlay p{
    width: 100%;
}

.blog-txtx span{
    font-size: 0.5em;
    line-height: 0.1em;
}

.blog h2{
    font-size: 4em;
    text-align: center;
}

.blog p{
    font-size: 200%;
    text-align: center;
    color: whitesmoke;
    width: 100%;
}

.banner__content{
    margin-bottom: 100px;
}

.banner__content h3{
    text-align: center;
    padding: 5px;
    border: 3px solid black;
    background: linear-gradient(50deg, white -200%, #728bad, whitesmoke 300%);

}

.nav-item{
    height: 60px;
    font-size: 100%;
}
.activeL{
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, var(--secondary-color), silver 300%) !important;
}

.tab-content{
    padding: 50px 25px;
    border-radius: 10px;
    margin-top: 20px;
}

/* From Uiverse.io by somshri16 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input01:valid + span {
    color: green;

  }


.contact {
    position: relative;
    background-image: url("https://026eecf95c.cbaul-cdnwnd.com/b58983c34de9d768e1d335200398a7a7/200000005-64d6364d65/spiral.webp?ph=026eecf95c");
    background-size: cover;
    background-position: center;
    padding: 5% 5%;
    color: #fff; /* Ensure text is readable on the background */
}

.contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(30deg, rgba(32, 44, 68, 0.9), rgba(80, 108, 148, 0.6)); /* Adjust the colors and opacity as needed */
    z-index: 1;
}
.contact h2{
    font-size: 4em;
    width: 70%;
    margin: auto;
    margin-bottom: 2vw;
}

.formUp{
    position: relative;
    z-index: 2;
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 20px;
    background: linear-gradient(30deg, var(--third-color) -100%, var(--secondary-color));
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 1s;
    cursor: pointer;
  }
  
 .send span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
  
.send svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.5s ease-in-out;
  }
  
  
  .send:hover svg {
    transform:rotate(45deg) scale(1.1);
    margin-left: 10px;
  }
  
  .send:hover span {
    transform: scale(1.1);
    margin-left: 20px;
  }
  
  .send:active {
    transform: scale(1);
  }


.foot-bg{
    max-width: 100vw !important;
    margin: 0;
    padding: 5%;
    background-image: url("https://026eecf95c.cbaul-cdnwnd.com/b58983c34de9d768e1d335200398a7a7/200000005-64d6364d65/spiral.webp?ph=026eecf95c");
  
}
.foot-content{
    margin: 100px;
}

.footer{
    width: 80%;
    height: 100%;
    transform: scale(1.2);
}

.footer-social.socials__button {
    margin-bottom: 40px;
}

.footer-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer img{
    width: 100px;
    height: 100px;
}

.footer-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10%;
}

.email-form label{
    font-size: 1.5em;
}

.email-form input{
    border: 2px solid black;
    color: white;
    outline: none;
    background: linear-gradient(30deg, var(--secondary-color), silver 500%);
    padding: 5px;
}

.email-form input::placeholder{
    color: white;
}

button#email-form-btn{
    margin-left: 4px;
    padding: 2px 2px 0 2px;
    width: 40px;
    transition: 0.2s ease;
    background-color: white;
    color: black;
}

button#email-form-btn:hover{
    background: var(--secondary-color);
    color: white;
}

.submit-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog a{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-user {
    width: 100%;
    height: 254px;
    background: var(--main-color);
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a;
    margin-bottom: -40px;
  }
  
  .card-user .card-border-top {
    width: 60%;
    height: 3%;
    background: var(--secondary-color);
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }
  
  .card-user span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }
  
  .card-user .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
  }
  
  .card-user .img {
    width: 150px;
    height:  150px;
    background: var(--secondary-color);
    border-radius: 200px;
    margin: auto;
    margin-top: 25px;
  }
  

  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 70px; 
    padding: 40px !important;
    padding-top: 70px !important;
    padding-bottom: 100px !important;
    height: 100%;
  }

  .team-grid h1{
    font-size: 3em;
    width: 100%;
    text-align: center;

  }

  .gradient-bg{
    max-width: 100vw !important;
    margin: 0;
    padding: 0;
    background:linear-gradient(30deg, var(--main-color), var(--secondary-color));
  }

  .max-width{
    max-width: 100vw !important;
  }

.tagline, .subhead {
    font-size: 1.4em;
}

.banner h1{
    font-size: 3em;
}
.spotlight{
    width: 60%;
    margin: auto;
    font-size: 1.3em;
    line-height: 2em;
    color: whitesmoke;
}

.spotlight li{
    list-style: ">   ";
}


.projcard a{
    text-decoration: underline var(--secondary-color)
}

.projcard a:hover{
    text-decoration: underline white;
}

/* Add this to your stylesheet or a <style> block in your component */
.card-image {
    height: 300px; /* Set your desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.spotlight-head{
    font-size: 4em;
}

.spotlight-info{
    margin-top: 30px;
}

.more-text{
    margin-top: 80px;
    font-size: 1.2em;
    margin-bottom: 50px;
}

.projectSubmit{
    width: 20% !important;
}

.spotlight-section{
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
    background: linear-gradient(30deg, var(--main-color), var(--secondary-color));
}

@media (max-width: 768px){
    .projectSubmit{
        width: 100% !important;
        margin: 0 auto;
    }
}